
.profile-menu {
    position: relative;
}

.profile-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.arrow-down {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    margin-left: 5px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.logout {
    color: #f31e16;
}

.hidden {
    display: none;
}
